<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @comment.author %>
</p>



<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>

<div>
	<% @post.comments.each do |comment| %>
		<p><%= comment.author %> said...</p>
		<% end %>
</div>
